.table{
    background: #F1F4F6;
    margin:2% 0% 5% 2%;
}

.breadcrumb-topic{
    margin:0% 1%;
    color:#8A93A2;
}
h3{
    display: inline;
    padding-right: 10px;
}
.crud-icons{
    display: inline;
    justify-content: center;
}